<h1>New Book</h1>

<form [formGroup]="booksForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="title">Title: </label>
    <input type="text" id="title" formControlName="title" />
    <p *ngIf="invalidField('title')" class="input-error">
      Title is required
    </p>
  </div>

  <div>
    <label for="author">Author: </label>
    <input type="text" id="author" formControlName="author" />
    <p *ngIf="invalidField('author')" class="input-error">
      Author is required
    </p>
  </div>

  <div>
    <label for="publicationDate">Publication Date: </label>
    <input type="date" id="publicationDate" formControlName="publicationDate" />
    <p *ngIf="invalidField('author')" class="input-error">
      Date is required
    </p>
  </div>

  <button type="submit">Submit</button>
</form>

{{ booksForm.value | json }}